# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing output
/coverage

# production build outputs
/dist
/build

# miscellaneous
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debug script (if not needed in version control)
debug-mongo.js
